@import url(http://fonts.googleapis.com/css?family=Droid+Sans);


.chatwala_app_container{
    position:fixed;
    width:100%;
    height:100%;

}

.top_container {
    height:50%;
    width:inherit;
    background-color:black;
}


.chatwala_button{
    display:block;
    position:absolute;
    left: 36%;
    top: 25%;
    text-align: center;
    height:200px;
    width:200px;
    background:url(../images/chatwala_button.png) 0 no-repeat;
    background-size: 100px 100px;


}

.bottom_continer{
    height:50%;
    width:inherit;
    background-color:white;
}

#bottom_text{
   text-align: center;
    margin-top: 25%;
    margin-left: auto;
}

#message_thumbnail{
    width:inherit;
    height:100%
}

.appstore {
    margin-left:23%;
    margin-right:auto;
    text-align: center;
    padding:0;
    background:url(../images/appstore.png) 0 0 no-repeat;
    background-size:180px 50px;
    width:180px;
    height:50px;
    display:block;
}