@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

html
{
    -webkit-text-size-adjust: none; /* Never autoresize text */
}
body {
    margin:0;
    padding:0;
    /*font-family:Arial, Helvetica, sans-serif;*/
    font-family:'Droid Sans';
    letter-spacing:1px;
    overflow:hidden;
}

.privacyBody {
    min-width: 320px;
    max-width: 700px;
    margin: 0 auto 0 auto;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 16px;
    overflow:scroll;
}

.content {
    width:inherit;
    height:100%;
    background:white;
    margin-top:75px;
}

.col1 {
    margin:0;
    padding:0;
    background:#e9ddd1 url(../images/pic_top.jpg) right 0 no-repeat;
    float:left;
    width:inherit;
    height:100%;
    display:block;
}
h1 {
    margin:0 0 5% 0;
    padding:0;
    font-size:42px;
    font-weight:normal;
}
a {
    color:#0a2045;
    text-decoration:none;
}
a:hover {
    color:#db013f;
    text-decoration:none;
}
.col2 {
    margin:0;
    padding:0;
    background:#e0e4e3 url(../images/pic_bottom.jpg) left 0 no-repeat;
    float:left;
    width:100%;
    height:100%;
    display:block;
}
.logo {
    margin:-378px 0 0 -245px;
    padding:0;
    position:absolute;
    top:50%;
    left:50%;
    background:url(../images/logo.gif) 0 0 no-repeat;
    width:490px;
    height:756px;
}
.app {
    margin:0;
    padding:0;
    position:absolute;
    top:70%;
    left:245px;
    width:490px;

}
.appstore {
    margin:0;
    padding:0;
    background:url(../images/appstore.png) 0 0 no-repeat;
    width:211px;
    height:67px;
    float:left;
    display:block;
}
.googleplay {
    margin:0;
    padding:0;
    background:url(../images/googleplay.png) 0 0 no-repeat;
    width:211px;
    height:67px;
    float:right;
    display:block;
}
.social_icons {
    margin:0;
    padding:0;
    position:absolute;
    top:10px;
    right:10px;
}
.twitter {
    margin:0;
    padding:0;
    background:url(../images/twitter.png) 0 0 no-repeat;
    width:50px;
    height:50px;
    display:block;
    float:right;
}
.facebook {
    margin:0;
    padding:0;
    background:url(../images/facebook.png) 0 0 no-repeat;
    width:50px;
    height:50px;
    display:block;
    float:right;
}
.menu {
    margin:0;
    padding:0;
    position:absolute;
    top:10px;
    left:30px;
}
.menu a{
    font-size:28px;
}
.clear {
    clear:both;
}
.copyright {
    margin:0;
    padding:0;
    position:absolute;
    top:93%;
    left:0;
    text-align:center;
    color:#0a2045;
    font-size:16px;
    width:100%;
}
.privacyCopyright{
    margin:0;
    padding:0;
    bottom: 0;
    left:0;
    text-align:center;
    color:#0a2045;
    font-size:16px;
    width:100%;
}
.lightBox {
    margin:10px;
    padding:0;
    background:url(../images/lightbox_bg.png);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:999;
    float:left;
    display:none;
    text-align:center;
    color:#FFF;
    opacity:0;
    overflow:auto;
}
.lightBox a {
    color:#FFF;
}
.lightBox p{
    margin:0 20% 30px 20%;
    font-size:18px;
    line-height:34px;
}
.lightBox_copyright {
    margin-top:8%;
    font-size:10px;
}
.lightBox p.dotted_line a {
    margin:10px 0 30px 0;
    font-size:22px;
    border-bottom:3px dotted #db013f;
    color:#FFF;
}
.close {
    margin:40px;
    padding:0;
    background:url(../images/cross.png) 0 0 no-repeat;
    width:40px;
    height:40px;
    float:right;
}

#loading_message {
    margin: 22% auto 0;
    width: 280px;
}

#chatwala_main{
    display:none;
}


#chatwala_app_container{
    width:100%;
    height:100%;
    display: none;
}

.top_container {
    height:50%;
    background:url(../images/top_area.png) no-repeat;
    background-size: 100%;
    position:relative;
}

.chatwala_button{
    display:block;
    position:absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
    text-align: center;
    height:100px;
    width:100px;
    background:url(../images/play_button.png) 0 no-repeat;
    background-size: 100px 100px;
    z-index: 100;
}

#bottom_container {
    bottom: 0;
    height: 50%;
    width:100%;
    /*background-image:url('http://chatwala-deveast-20.azurewebsites.net/messages/messageThumbnail?share_id=2zzA2r');*/
    background-repeat:no-repeat;
    /*background-attachment:fixed;*/
    background-position:center;

}

div {
    border: 1px solid red;
}

#top_text{
    width:100%;
    position:absolute;
    top:50%;
    margin-top:-80px;
    text-align: center;
}


#app_store {
    position:absolute;
    top:50%;
    margin-top:-15px;
    width:180px;
    height:50px;
    left:50%;
    margin-left:-90px;
    background:url(../images/appstore.png) 0 0 no-repeat;
    background-size:180px 50px;
    display:none;
}


#play_store {
    position:absolute;
    top:50%;
    margin-top:-15px;
    width:211px;
    height:67px;
    left:50%;
    margin-left:-105px;
    background:url(../images/googleplay.png) 0 0 no-repeat;
    background-size:211px 67px;
    display:none;
}

@media screen and (max-width: 1600px){
    .logo {
        margin:-302px 0 0 -196px;
        background-size:392px 605px;
        width:392px;
        height:605px;
    }
    .footer {
        height:15px;
    }
    .appstore, .googleplay {
        background-size:190px 60px;
        width:190px;
        height:60px;
    }
    .twitter, .facebook {
        background-size:40px 40px;
        width:40px;
        height:40px;
    }
}
@media screen and (max-width: 1280px){
    .footer {
        height:10px;
    }
    .logo {
        margin:-293px 0 0 -190px;
        background-size:380px 587px;
        width:380px;
        height:587px;
    }
    .close {
        margin:30px;
        background-size:30px 30px;
        width:30px;
        height:30px;
        float:right;
    }
    .menu a{
        font-size:24px;
    }
    .lightBox p{
        margin:0 10% 10px 10%;
        font-size:14px;
        line-height:18px;
    }
}
@media screen and (max-width: 800px){
    .footer {
        height:10px;
    }
    /*.logo {
        margin:-302px 0 0 -196px;
        background-size:392px 605px;
        width:392px;
        height:605px;
    }*/
    .logo {
        margin:-155px 0 0 -100px;
        background-size:200px 309px;
        width:200px;
        height:309px;
    }
    h1 {
        margin:0 0 8% 0;
    }
    .appstore, .googleplay {
        background-size:120px 38px;
        width:120px;
        height:38px;
    }
    .copyright {
        font-size:8px;
        top:92%;
    }
}
@media screen and (max-width: 570px){
    .footer {
        height:10px;
    }
    .logo {
        margin:-155px 0 0 -100px;
        background-size:200px 309px;
        width:200px;
        height:309px;
    }
    .app {
        margin:0;
        left:164px;
        width:240px;
    }
    .appstore, .googleplay {
        background-size:120px 38px;
        width:120px;
        height:38px;
    }
}
@media screen and (max-width: 480px){
    .twitter, .facebook {
        background-size:30px 30px;
        width:30px;
        height:30px;
    }
    .close {
        margin:20px;
        background-size:20px 20px;
        width:20px;
        height:20px;
        float:right;
    }
    h1 {
        margin:0 0 10px 0;
        padding:0;
        font-size:24px;
        line-height:normal;
    }
    .lightBox p{
        margin:0 10% 10px 10%;
        font-size:12px;
        line-height:16px;
    }
    .lightBox_copyright {
        font-size:8px;
    }
    .copyright {
        font-size:8px;
        top:92%;

    }
    .lightBox p.dotted_line a {
        margin:10px 0 10px 0;
        font-size:16px;
        border-bottom:3px dotted #db013f;
        color:#FFF;
    }
    .close {
        margin:20px;
        background-size:20px 20px;
        width:20px;
        height:20px;
        float:right;
    }
    .menu {
        left:20px;
    }
    .menu a{
        font-size:20px;
    }

    #loading_message {
        margin: 110% auto 0;
        width: 280px;
    }
}
@media screen and (max-width: 320px){
    h1 {
        margin:0 0 5% 0;
    }
    .lightBox p{
        margin:0 10% 30px 10%;
        font-size:12px;
        line-height:16px;
    }
    .lightBox_copyright {
        font-size:8px;
    }
    .lightBox p.dotted_line a {
        margin:10px 0 30px 0;
        font-size:16px;
        border-bottom:3px dotted #db013f;
        color:#FFF;
    }
    #loading_message {
        margin: 110% auto 0;
        width: 280px;
    }
}